<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.daoyun.dao.CourseDao">

    <select id="allCourse" resultType="com.example.daoyun.domain.Course">
        select * from course
    </select>

    <select id="checkCourse" resultType="java.lang.Integer">
        select count(*) from course where coursename=#{coursename}
    </select>

    <insert id="newCourse">
        insert into course(courseid,coursename)
        VALUE (DEFAULT ,#{coursename})
    </insert>


</mapper>