<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.daoyun.dao.LoginDao">
    <select id="getUserByMassage" resultType="java.lang.Integer">
    SELECT count(id) FROM login
    WHERE login_name=#{username} AND login_password=#{password}
    </select>

    <select id="userloginById" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `login` WHERE user_number = #{loginUserId} AND `password` = #{password};
    </select>

    <select id="getUser" resultType="com.example.daoyun.domain.User">
        select * from `user` where phone = #{phone};
    </select>

    <select id="getUserByPhone" resultType="com.example.daoyun.domain.User">
        select * from user where phone=#{phone}
    </select>

    <select id="checkPhone" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `login` WHERE phone = #{phone}
    </select>
    <select id="checkNum" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `user` WHERE number = #{number}
    </select>

    <select id="userloginByPhone" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `login` WHERE phone = #{phone} AND `password` = #{password};
    </select>

    <insert id="register">
        insert into login
        (phone, password, role)
        VALUE
        (#{phone},#{password},#{role})
    </insert>

    <insert id="fastregister">
        insert into login
            (phone, role)
            VALUE
            (#{phone},#{role})
    </insert>

    <insert id="createUser">
        insert into user
            (phone, role)
            VALUE
            (#{phone},#{role})
    </insert>

    <update id="userInfo">
        update user
        <set>
            <if test="number!=0">number=#{number},
            </if>
            <if test="name!=null">name=#{name},
            </if>
            <if test="sex!=null">sex=#{sex},
            </if>
            <if test="email!=null">email=#{email},
            </if>
            <if test="birthday!=null">birthday=#{birthday},
            </if>
            <if test="school!=null">school=#{school},
            </if>
            <if test="college!=null">college=#{college},
            </if>
            <if test="major!=null">major=#{major},
            </if>
        </set>
        where id=#{id}
    </update>




    <select id="userList" resultType="com.example.daoyun.domain.User">
    select * from user
</select>

    <insert id="newUser">
        insert into user(id,number,name,sex,phone,email,birthday,school,college,major,role)
            VALUE (default ,#{number},#{name},#{sex},#{phone},#{email},#{birthday},#{school},#{college},#{major},#{role})
    </insert>

    <insert id="newLogin">
        insert into login(id,phone,password,role)
            VALUE (default ,#{phone},#{password},#{role})
    </insert>

    <delete id="deleteLogin">
        delete from user where phone=#{phone}
    </delete>

    <delete id="deleteUser">
        delete from login where phone=#{phone}
    </delete>
</mapper>